
/* LOGINFORM SETTINGS */

body > .grid {
  height: 100%;
}

.image {
  margin-top: -100px;
}

.column {
  max-width: 450px;
}

.ui.form .field .ui.input input, .ui.form .fields .field .ui.input input {
  width: 0;
}


/* NAVBAR SETTINGS */

.navbar  {
  margin-bottom: 0;
  border-radius: 0;
  padding: .5% 0;
  font-size: 1.1em;
  border: 0;
}

.navbar-brand  {
  float: left;
  min-height: 65px;
  padding: 0 15px 5px;
}

.navbar-brand img  {
  height: 70px;
}



/* Color Settings for Nav Bar */

.navbar {
  background-color: #e74c3c;
  border-color: #c0392b;
}
.navbar .navbar-brand {
  color: #f2f5f6;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #ffbbbc;
}
.navbar .navbar-text {
  color: #f2f5f6;
  font-weight: 500;
}
.navbar .navbar-nav > li > a {
  color: #f2f5f6;
}
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
  color: #ffbbbc;
}
.navbar .navbar-nav > li > .dropdown-menu {
  background-color: #e74c3c;
}
.navbar .navbar-nav > li > .dropdown-menu > li > a {
  color: #f2f5f6;
}
.navbar .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}
.navbar .navbar-nav > li > .dropdown-menu > li.divider {
  background-color: #c0392b;
}
.navbar .navbar-nav .open .dropdown-menu > .active > a,
.navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}
.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}
.navbar .navbar-nav > .open > a,
.navbar .navbar-nav > .open > a:hover,
.navbar .navbar-nav > .open > a:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}
.navbar-default .navbar-toggle {
  border-color: #c0392b;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #c0392b;
}
.navbar .navbar-toggle .icon-bar {
  background-color: #f2f5f6;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border: 0px;
}
.navbar .navbar-link {
  color: #f2f5f6;
}
.navbar .navbar-link:hover {
  color: #ffbbbc;
}

@media (max-width: 767px) {
  .navbar .navbar-nav .open .dropdown-menu > li > a {
    color: #f2f5f6;
  }
  .navbar .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffbbbc;
  }
  .navbar .navbar-nav .open .dropdown-menu > .active > a,
  .navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffbbbc;
    background-color: #c0392b;
  }
}

/* My Custom Color Class for re-use purpose  */

.main-color-bg  {
  background-color: #e74c3c !important;
  border-color: #c0392b !important;
  color: #ffffff !important;
}

                /* PROFILE PAGE SEETINGS */
                   /* HEADER SETTINGS */

#header  {
  background: #333333;
  color: #ffffff;
  padding-bottom: 10px;
  margin-bottom: 10px;
  
}

#header .create  {
  padding-top: 50px;
}

/* BREADCRUMBS */

.breadcrumb  {
  background: #cccccc;
  color: #333333;
}

.breadcrumb a  {
  color: #333333;
}

.dash-box  {
  text-align: center;
}

.pic  {
  height: 100px;
  float: right;
  border-radius: 50px;
}


                                              /* RESGISTER PAGE SETTINGS */

.register, .login,  {
  margin: 0 auto;
}               

.regbtn  {
  margin: 0 auto;
}

.register ol, .login ol  {
  text-align: center;
  margin-top: 4%;
  font-size: 1.6em;
}


/* MAP SETTINGS */

.leaflet-container.leaflet-touch-drag.leaflet-touch-zoom {
  height: 550px;
  width: 100vw;
  margin: 0 auto;
}



/* RUNS LIST PAGE */

.runslistHeader  {
  background: #333333;
  color: #ffffff;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 10px;
  padding: 2%;
}

.runslistHeader h1, h3 {
  text-align: center;
}

.rundate  {
  text-align: center;
  padding: 1%;
  border-radius: 5px;
}


